body {
    background-color: #1F2937;
    font-family: "Roboto";
    font-weight: 400;
}

.header{
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
}

.top-head {
    display: flex;
    white-space: nowrap;
}

.main-header {
    font-size: 24px;
    margin-right: 200px;
    margin-left: 75px;
}

.head-link {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
}

.main-show {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 400px;
    width: 400px;
    margin-left: 75px;
}

.large-text {
    font-size: 48px;
    word-wrap: break-word;
}

.subtext {
    font-size: 18px;
    word-wrap: break-word;
}

.sign-up {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.placeholder-img {
    display: auto;
    flex-direction: auto;
    background-color: grey;
    height: 280px;
    width: 400px;
}

.placeholder-img p {
    align-self: center;
}

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-info {
    size: 36px;
    color: #1F2937;
    font-weight: 1000;
    margin-bottom: 40px;
}

.images div {
    display: inline-block;
    flex-direction: auto;
    background: white;
    border: 4px solid #3882F6;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
    flex: 1 1 auto;
}

.captions div {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 1px;
    width: 80px;
    height: 80px;
    display: inline-block;
    word-wrap: break-word;
    text-align: center;
}

.captions div p {
    font-size: small;
    word-wrap: break-word;
    align-content: center;
}

.inspire {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}

.quote {
    text-align: center;
}

.quotee {
    text-align: right;
}

.footer {
    flex-direction: row;
    align-items: center;
}

.footer-text {
    flex-direction: column;
}

.closer {
    font-size: 36px;
    color: #1F2937;
}

.button-encouragment {
    color: #F9FAF8;
}

.footer button{
    background-color: #3882F6;
    color: #F9FAF8;
}